<div class="dropdown">
  <select name="{{name}}" id="profile-form-field-{{name}}">
    {{#each enum}}
      <option value="{{.}}" {{#ifEqual . ../value}}selected{{/ifEqual}}>
        {{.}}
      </option>
    {{/each}}
  </select>
</div>
