<nav class="navbar navbar-branded" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse text-center">
      <ul class="nav navbar-nav">
        <li>
          <a href="#" class="navbar-item" data-hull-action="exit">
            <i class="icon icon-exit"></i>
            &nbsp;
            Exit
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" class="navbar-item" data-hull-action="saveTheShip">
            <i class="icon icon-valid"></i>
            &nbsp;
            Save
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<ul class="nav nav-tabs nav-justified" role="tablist">
  {{#each sections}}
    <li><a href="#" class="navbar-item" data-hull-action="displaySection" data-hull-section="{{@key}}">{{schema.title}}</a></li>
  {{/each}}
</ul>

<div data-editor style="padding: 20px;"></div>
