<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Quiz Ship</title>

  <link rel="stylesheet" href="assets/css/app.css">

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-sanitize.min.js"></script>
  <script src="assets/js/app.js"></script>
  <script src="assets/js/templates.js"></script>
</head>
<body>
  <div ng-cloak ng-controller="QuizController">
    <div ng-include="'style.html'"></div>

    <div class="ship">
      <div ng-if="state.isLoading" class="loader">
        <p class="loader-message">{{translate('loader_message')}}</p>
      </div>

      <header class="header">
        <img ng-if="state.settings.logo_image" ng-src="state.settings.logo_image" class="logo" alt="">
      </header>

      <div ng-include="state.currentStep + '.html'" class="step"></div>

      <footer class="footer">
        <p>{{translate('footer_message')}}</p>
      </footer>
    </div>
  <div>
</body>
</html>

